/* 基本樣式設置 */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh; /* 讓高度佔滿整個視窗 */
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
/* 容器 */
.container {
  max-width: 800px;
  width: 100%; /* 讓容器寬度佔滿設定的最大寬度 */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* 標題 */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20 px;
}

/* 表單 */
.form {
  margin-bottom: 50px;
}

.form-group {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.input:focus, .textarea:focus {
  border-color: #ADA142; /* 聚焦時的邊框顏色 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* 聚焦時加強陰影 */
  outline: none; /* 移除預設的 focus 邊框 */
}
.input {
  height: 40px;
}

.textarea {
  height: 120px;
  resize: vertical;
}

.submit-btn {
  width: 100%;
  background-color: #ADA142;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #D9CD90;
}

/* 留言列表 */
.message-list {
  margin-top: 20px;
}

.message-box {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-box p {
  margin: 0;
}

.delete-btn {
  background-color:#A8497A;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #A8497A;
}

/* 動作按鈕 */
.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.delete-all-btn, .download-btn {
  background-color: #ADA142;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-all-btn {
  background-color: #A8497A;
}

.download-btn {
  background-color: #ADA142;
}

.delete-all-btn:hover {
  background-color: #A8497A;
}

.download-btn:hover {
  background-color: #ADA142;
}
